#borderimg1 {
    width: 300px;
    height: 40px;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/bolinhas.jpg) 50 round; /* Safari 3.1-5 */
    -o-border-image: url(../img/bolinhas.jpg) 50 round; /* Opra 11-12,1 */
    border-image: url(../img/bolinhas.jpg) 50 round; /* Padrão */
    /* isso irá fazer a iamgem se tornar uma borda */
    display: inline-block;
}

#borderimg2 {
    width: 300px;
    height: 40px;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/bolinhas.jpg) 65 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/bolinhas.jpg) 65 stretch; /* Opra 11-12,1 */
    border-image: url(../img/bolinhas.jpg) 65 stretch; /* Padrão */
    display: inline-block;
}

#borderimg3 {
    width: 300px;
    height: 40px;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/quadradinho.jpg) 20% round; /* Safari 3.1-5 */
    -o-border-image: url(../img/quadradinho.jpg) 20% round; /* Opra 11-12,1 */
    border-image: url(../img/quadradinho.jpg) 20% round; /* Padrão */
    display: inline-block;
}

#borderimg4 {
    width: 300px;
    height: 40px;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/quadradinho.jpg) 30% stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/quadradinho.jpg) 30% stretch; /* Opra 11-12,1 */
    border-image: url(../img/quadradinho.jpg) 30% stretch; /* Padrão */
    display: inline-block;
}