.resize1{
    border: 2px solid;
    padding: 20px;
    width: 300px;
    resize: horizontal;
    overflow: auto;
    /* redimeciona o texto na horizontal */
}

.resize2{
    border: 2px solid;
    padding: 20px;
    width: 300px;
    resize: vertical;
    overflow: auto;
    /* redimeciona o texto na vertical */
}

.resize3{
    border: 2px solid;
    padding: 20px;
    width: 300px;
    resize: both;
    overflow: auto;
    /* redimeciona o texto para todos os lados */
}